<!DOCTYPE html>

<body>
  <header>
          
     
 <img id="logo" src="logo.png" > 
 <img id="logo1" src="logo.png" >
<h1>Sistema de control Recibe y Entrega </h1>     

<nav id="menu">
     <ul >
     	<li id="item"><a href="clientes">Clientes</a></li>
     	<li id="item"><a href="vendors">Proveedores</a></li>
     	<l1 id="item"><a href="#">Entradas</a>
          <ul id="sub">
              <li ><a href="entradas">Registro</a></li>
              <li ><a href="edetalles">Revision</a></li>     
             
          </ul>    

          </l1>
          <li id="item"><a href="#">Configuracion</a>
          <ul id="sub">
              <li ><a href="parametros">Parametros</a></li>
              <li ><a href="estados">Estados</a></li>     
              <li ><a href="destinos">Destinos</a></li>
          </ul>    

          </li>
          
     	
     </ul>
 </nav>
 </header>
</body>

